<div class="container d-flex flex-column">
    <div class="row d-flex justify-content-center">
        <h1 class="header">Shopping List App</h1>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-6">
            <p> This is a simple multi-user Single Page Application (SPA) implementing AngularJs concepts</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div>
            <a class="btn btn-success" ng-hide="loggedin" href="#!login">Login</a>
            <a class="btn btn-warning" ng-hide="loggedin" href="#!register">Register</a>
        </div>
    </div>
</div>